/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  .main-header,
  .main-nav,
  .row,
  .col,
  body{
    display: flex;
  }

  .main-header{
    flex-direction: column;
    align-items: center;
  }
  /*Each column is 50% wide, anything more will break off to next line with flex-wrap */
  .col,
  body{
    flex-direction: column;
  }  
  .col{
    flex: 1 50%;
    flex-direction: column;
  }
  .row{
    flex-wrap: wrap;
  }
  .button{
    margin-top: auto;
  }
  body{
    min-height: 100vh;
  }
  .main-footer{
    position: sticky;
    margin-top: -20;
  }
}

@media (min-width: 1025px) {
    .main-header{
      flex-direction: row;
      justify-content: space-between;
    }  
    /*Space is no longer distributed */
    .col{
      flex-basis: 0;
    }
    .primary{
      flex-grow: 1.4;
    }
    .secondary{
      order: -1;
    }
}